<div class="content home content-center">

    <!-- Icone SVG -->
    <img src="img/hamburger.svg" style="width: 168px; margin-bottom: 10px;">

    <div class="home-body">

        <!-- ID da empresa -->
        <input type="text" ng-model="codigo_empresa" placeholder="Código da casa" maxlength="6">

        <!-- Botão buscar -->
        <button type="button" ng-show="codigo_empresa" ng-click="Home.buscar()">buscar</button>

        <!-- Botão de escanear -->
        <button ng-click="Home.scanear()" ng-show="!codigo_empresa">
            <i class="qrcode color-button-home"></i>
        </button>
    </div>

    <div class="footer">
        <a ng-href="#!/buscar-pedido">Meus pedidos</a>
    </div>
</div>