<div class="background">
    <header class="toolbar toolbar-home toolbar-transparente {{ device }}">
        <section class="title color-title-home">
            Freeburguer
        </section>
    </header>

    <div class="content content-center">

        <div class="footer-home">
            <input type="text" ng-model="uid_empresa" placeholder="ID empresa" maxlength="6">
            <button type="button" ng-show="uid_empresa" ng-click="Home.encontrar()">Buscar</button>
            <button ng-click="Home.scanear()" ng-show="!uid_empresa">
                <i class="qrcode color-button-home"></i>
            </button>
        </div>
    </div>
</div>