<header class="toolbar {{ device }} barFixed">

    <section class="buttons"></section>

    <section class="title {{ device }}">
        Detalhes do pedido
    </section>

    <section class="buttons">
        <button type="button" class="{{ device }}" ng-click="sair()">
            <i class="close"></i>
            <span class="text">Sair</span>
        </button>
    </section>

</header>

<div class="content">
    <class class="pedido">
        <div class="pedido-codigo">{{ pedido.uid }}</div>
        <div class="pedido-botoes">
            <p>Opções</p>
            <button type="button" ng-click="PedidoInfo.navegar()">Rastrear pedido</button>
            <button type="button" ng-click="PedidoInfo.cadastrarContato()">Cadastrar como contato</button>
        </div>
        <div class="pedido-resumo">
            <p>Total pedido</p>
            <p>{{ total_pedido | currency }}</p>
        </div>
    </class>
</div>