<header class="toolbar {{ device }}">
    <section class="title">
        Hamburgueria
    </section>
    <section>
        <button ng-click="logout()">
            <i class="exit"></i>
            <span class="text">Sair</span>
        </button>
    </section>
</header>

<div class="content">

    <ul class="checkbox-wrapper">
        <li class="titulo-secao">
            Cardápio
        </li>

        <li>
            <label>
                <div class="pedido-informacao">
                    <p class="item-pedido-nome">X-Bacon</p>
                    <p class="itens-pedido">Pão, Carne, Bacon, Milho e Salada</p>
                </div>
                <div class="pedido-checkbox">
                    <input type="checkbox">
                    <span class="checkbox"></span>
                </div>
            </label>
        </li>

        <li>
            <label>
                <div class="pedido-informacao">
                    <p class="item-pedido-nome">X-Bacon</p>
                    <p class="itens-pedido">Pão, Carne, Bacon, Milho e Salada</p>
                </div>
                <div class="pedido-checkbox">
                    <input type="checkbox">
                    <span class="checkbox"></span>
                </div>
            </label>
        </li>

        <li>
            <label>
                <div class="pedido-informacao">
                    <p class="item-pedido-nome">X-Bacon</p>
                    <p class="itens-pedido">Pão, Carne, Bacon, Milho e Salada</p>
                </div>
                <div class="pedido-checkbox">
                    <input type="checkbox">
                    <span class="checkbox"></span>
                </div>
            </label>
        </li>
    </ul>



</div>